@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');



.navBar {
    display: flex;
    justify-content: space-between;
    background-color: #353535;
}

.navBar h6 {
    font-family: 'Stylish', sans-serif;
    font-size: x-large;
}


.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Stylish', sans-serif;
    font-size: x-large;
}


.linkStyling{
    margin:  0 20px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s all;
}

.linkStyling:hover {
    font-size: xx-large;
}

.toggleBtn {
    display: none;
    width: 0;
}


@media screen and (max-width: 768px) {
    .toggleBtn {
        display: block;
        z-index: 1;
        margin-right: 20px;
        margin-top: 5px;
        cursor: pointer;
    }

    .navBar {
        z-index: 2;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .link {
        width: 40vw;
        height: 40vh;
        position: fixed;;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: -100%;
        right: -100%;
        background-color: #000000bd;
        transition: 0.5s all;
        z-index: 0;
    }

    .linkStyling {
        margin: 20px;
    }
}